{% extends 'main/header.html' %}

{% block content %}
    <strong>Detail.html</strong>
    <br>
    <h4>{{ question.question_text }}</h4>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'main:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}


            <label for="choice{{ forloop.counter }}">
            <input class="with-gap" name="choice" type="radio" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
            <span><strong style="color: #4a148c">{{ choice.choice_text }}</strong></span>
            </label>

            <br>

    {% endfor %}
    <br>
    <button class="btn waves-effect waves-light" type="submit" name="action">Vote
    </button>
         
    </form>
{% endblock %}